In [5]:
from pymongo import MongoClient
import pandas as pd

In [6]:
client = MongoClient('mongodb://localhost:27017');
print("Connection Successful")

Connection Successful

In [7]:
db= client['test']
settl=db['settlementithcounts']

In [8]:
settl= pd.read_csv('CSV_limpios/settlementithcounts.csv')

In [9]:
temp = settl['ITH']
rango_max = temp.max()
rango_min = temp.min()

In [11]:
rango_min

0.0

In [21]:
temp.plot

In [16]:
temp

0        85.0
1        40.0
2        85.0
3         0.0
4        51.0
         ...
17775    71.0
17776    69.0
17777    70.0
17778    68.0
17779    72.0
Name: ITH, Length: 17780, dtype: float64

In [23]:
temp_ = settl['ITH'].value_counts()
#temp_.sort_values(by= 'ITH', ascending= True)

In [27]:
rango_max

87.0

In [29]:
rango_min

0.0

In [3]:
df_animals= pd.read_csv('CSV_limpios/animals.csv')

In [4]:
df_animals

,Unnamed: 0,_id,animalSettlement,caravanaNumber,animalType,weight,birthDay,breed,isPregmant,dateOfBirth,observations,createdAt,updatedAt,__v,animalTags,animalSenasa
0,0,62d6e9920408c608acb6fdd0,[ObjectId('620e6e5e60543d0026a01f0e')],CAR9,VACA,500.0,2022-07-18 00:00:00.000,SIMBRAH,False,NaN,NaN,2022-07-19 17:27:46.820,2023-02-10 18:40:12.193,0,['VIEJA'],NaN
1,1,62d6e9d30408c608acb6fe08,[ObjectId('620e6e5e60543d0026a01f0e')],CAR71,NOVILLO,234.0,2022-07-18 00:00:00.000,SIMBRAH,False,NaN,NaN,2022-07-19 17:28:51.345,2022-11-25 02:11:05.689,0,['PARICION'],NaN
2,2,62d98db9a30a66002645c287,[ObjectId('620e6e5e60543d0026a01f0e')],CAR52,VACA,155.0,2022-07-18 00:00:00.000,BRANGUS,False,NaN,NaN,2022-07-21 17:32:41.363,2022-07-21 17:32:41.363,0,NaN,NaN
3,3,62d99045a30a66002645c384,[ObjectId('620e6e5e60543d0026a01f0e')],CAR169,TERNERO,73.0,2022-07-18 00:00:00.000,INDUSIN,False,NaN,NaN,2022-07-21 17:43:33.443,2022-07-21 17:43:33.443,0,NaN,NaN
4,4,62d9a88c0223ce002612afed,[ObjectId('620e6e5e60543d0026a01f0e')],CAR19,TERNERO,45.0,2022-03-25 00:00:00.000,BRAFORD,False,NaN,NaN,2022-07-21 19:27:08.791,2022-12-06 14:08:45.687,0,[],NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,625,642367fd0dac550030136043,[ObjectId('63ecf27ba9f1a40025792acf')],TBOZAVI9,VACA,100.0,2022-06-18 00:00:00.000,HEREFORD,False,NaN,NaN,2023-03-28 22:19:41.682,2023-03-28 22:19:41.682,0,[],TESTBOZAVI9
626,626,642367fd0dac550030136047,[ObjectId('63ecf27ba9f1a40025792acf')],TBOZAVI11,VACA,100.0,2022-06-18 00:00:00.000,HEREFORD,False,NaN,NaN,2023-03-28 22:19:41.690,2023-03-28 22:19:41.690,0,[],TESTBOZAVI11
627,627,642367fd0dac550030136045,[ObjectId('63ecf27ba9f1a40025792acf')],TBOZAVI10,VACA,100.0,2022-06-18 00:00:00.000,HEREFORD,False,NaN,NaN,2023-03-28 22:19:41.687,2023-03-28 22:19:41.687,0,[],TESTBOZAVI10
628,628,6424319990adbe6da4fb1c8a,[ObjectId('63efd78d65980f4378711b6f')],PRUEBA FAS,NOVILLO,100.0,2000-01-01 00:00:00.000,SANTA GERTRUDIS,False,NaN,NaN,2023-03-29 12:39:53.144,2023-03-29 13:24:50.276,0,['ENFERMA'],NaN
629,629,642aeed40dac550030174fac,[ObjectId('63e6454922ee080030ba8728')],PRUEBA SEN,NOVILLO,100.0,2023-04-03 00:00:00.000,SIMBRAH,False,NaN,NaN,2023-04-03 15:20:52.896,2023-04-03 15:20:52.896,0,[],NaN